<nav class="navbar navbar-expand-lg " style="background-color:#FF642E;height:15%" >
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" style="color : #ececec" routerLink="/">
                  <span class="fs-1">ZooA!logo</span>
                </a>  
            </div>

            <div class="collapse navbar-collapse justify-content-center" id="navigation" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-4"  style="color : #ececec" routerLink="/">
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4"  style="color : #ececec" routerLink="/">
                            <span>About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4"  style="color : #ececec" routerLink="/">
                            <span>Services</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav pull-right">
                    <li class="nav-item">
                        <button class="btn btn-outline-light" >Login/Register</button>
                    </li>
                </ul>
            </div>
            <button mat-button color="primary" [routerLink]="['newPost']" (click)="openDialog()">Add Post</button>

        </div>
    </nav>

