<div class="d-flex justify-content-center">
    <div class="card" style="width: 38rem;">
        <div class="card-header">
            <div class="row ">
                <div class="col-2 post">
                    <img src="" alt="user image" class="">
                </div>
                <div class="col-sm-auto post">
                    <div><span> user name here </span> </div>
                    <div><span> post date here </span></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row post">
                <div class="col-auto">description here</div>
            </div>
            <div class="row post">
                <div class="col-sm-auto ">
                    <img src="" alt="post pic here" style="width: 100px;height: 100px;">
                </div>
            </div>
        </div>
        <div class="card-footer ">
            <div class="row justify-content-center">
                <div class="col-sm-3 post" style="text-align:center;">like here</div>
                <div class="col-sm-3 post" style="text-align:center;">comment here</div>
                <div class="col-sm-3 post" style="text-align:center;">contact here</div>
            </div>
        </div>
    </div>
</div>