<div class="d-flex justify-content-center" *ngFor="let post of posts">
    <div class="card" style="width: 38rem;" >
        <div class="card-header">
            <div class="row ">
                <div class="col-2 post">
                    <img src="" alt="user image" class="">
                </div>
                <div class="col-sm-auto post">
                    <div><span> {{ post.user['fname'] }}{{ post.user['lname'] }} </span> </div>
                    <div><span> {{ post['date'] |date }} </span></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row post">
                <div class="col-auto">{{ post['description'] }}</div>
            </div>
            <div class="row post">
                <div class="col-sm-auto " *ngFor ="let image of post.image"  >
                    <img src= "{{ image }}" alt="user image" >
                </div>
            </div>
        </div>
        <div>
            
        </div>
        <div class="card-footer ">
            <div class="row justify-content-center">
                <div class="col-sm-3 post" style="text-align:center;">like here</div>
                <div class="col-sm-3 post" style="text-align:center;">comment here</div>
                <div class="col-sm-3 post" style="text-align:center;">contact here</div>
            </div>
        </div>
    </div>
</div>
