li{ 
    list-style-type: none;   
}

  .comment{
    width: auto;
    height: auto;
    background-color:#ddeaff;
    color: #373737;
    padding:10px; 
    border-radius: 20px; 
}

img{
    border-radius:50%; 
}


.userImage{
    width:30px;
    height:30px;
    border: 1 solid #2691d9;
}